<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">
      <i class="bi bi-graph-up-arrow me-1"></i>지수는 영원하다
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navMenu">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/ranking">
            <i class="bi bi-trophy me-1"></i>랭킹
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/timing">
            <i class="bi bi-clock-history me-1"></i>타이밍 시뮬레이터
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/fee-simulator">
            <i class="bi bi-percent me-1"></i>비용 시뮬레이터
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/retirement">
            <i class="bi bi-piggy-bank me-1"></i>퇴직연금
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/insights">
            <i class="bi bi-lightbulb me-1"></i>인사이트
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/book">
            <i class="bi bi-book me-1"></i>책 소개
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
